import 'package:threebotlogin/app_config.dart';

class AppConfigLocal extends AppConfigImpl {

  String baseUrl() {
    return "192.168.0.0:5000";
  }

  String openKycApiUrl() {
    return "http://192.168.0.0:5005";
  }

  String threeBotApiUrl() {
    return "http://192.168.0.0:5000/api";
  }

  String threeBotFrontEndUrl() {
    return "http://192.168.0.0:8080/";
  }

  String threeBotSocketUrl() {
    return "ws://192.168.0.0:5000";
  }
}
