<section class="login">
  <v-layout justify-center>
    <v-flex md8>
      <v-card>
        <v-toolbar class="primary">
          <h1 class="headline white--text text-xs-center fw">
              Signing in...
          </h1>
          <v-btn icon outlined color="white" @click.stop="dialog = true">?</v-btn>
        </v-toolbar>
        <v-form class="pa-4">
          <v-card-text>
            <v-layout v-if="loginTimeleft > 0" column align-center relative>
                <p class="subheading pt-3">Please open the ThreeFold Connect app on your mobile device, authenticate either with pin or Touch ID, and then match the following icon from the choices given.
                </p>
                <v-progress-circular :size="100" :width="15" color="accent" indeterminate v-if="!loggedIn">
                  <img :src='`/icons/${randomImageId}.png`' height="37" v-if="!isMobile && !loggedIn">
                </v-progress-circular>
                <v-progress-circular v-else :size="100" :width="0">
                  <v-icon color="accent" :size="75" class="animated fadeIn">done</v-icon>
                </v-progress-circular>
                <p class="subheading pt-3" v-if="!$route.params.again && !isMobile">Please enter your pincode or use
                  fingerprint and select this icon on your mobile phone.</p>
                <p class="subheading pt-3" v-if="!$route.params.again && isMobile">Please enter your pincode</p>
                <p class="subheading pt-3" v-if="$route.params.again && isMobile">Please enter your pincode again</p>
                <p class="subheading pt-3" v-if="$route.params.again && !isMobile">Please select the icon on your mobile
                  phone and enter your pincode again.</p>

                <p>Your login attempt is valid for another {{loginTimeleft}} seconds.</p>
              <v-layout column>
                <v-btn class="accent" @click="triggerResendNotification" v-if="!firstTime && !isMobile">
                  <v-icon left>
                    refresh
                  </v-icon>
                    RESEND NOTIFICATION
                </v-btn>
                <v-btn class="accent" @click="openApp" v-if="isMobile">
                  Open ThreeFold Connect app
                </v-btn>
              </v-layout>
            </v-layout>
            <v-layout v-else>
              <b v-if="ref">This login attempt is no longer valid, please click <a :href="ref">here</a> to return.</b>
              <b v-else>This login attempt is no longer valid, please go back to the previous page.</b>
            </v-layout>
          </v-card-text>
        </v-form>
      </v-card>
    </v-flex>



    <v-dialog v-model="dialog" max-width="500">
      <v-card class="text-xs-center">
        <v-card-title class="headline"></v-card-title>
        <v-card-text class="subheading pt-3">If you do not yet have the ThreeFold Connect app on your device, you can download it on the Google Play / Apple App store.</v-card-text>
        <v-layout justify-center>
          <div>
            <a md12 class="mx-2" href="https://play.google.com/store/apps/details?id=org.jimber.threebotlogin"
              target="_blank">
              <img src="googleplay.png" height="50" />
            </a>
            <a class="mx-2" href="https://itunes.apple.com/be/app/3bot-login/id1459845885?l=nl&mt=8" target="_blank">
              <img src="applestore.png" height="50" />
            </a>
          </div>
        </v-layout>
        <v-card-text class="subheading pt-3">

            Have you already created an account but it is not active on your device? Click the ‘recover account’ button in the app and you will be instructed on how to regain access.</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="accent" class="ma-3" @click.native="dialog = false">Close Window</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</section>
