;config.ini
[DEFAULT]
API_KEY="abc123"
[STELLAR]
HORIZON_URL=https://horizon-testnet.stellar.org
NETWORK_PASSPHRASE=Test SDF Network ; September 2015
[DIGITALTWIN_RESERVE]
ADDRESS=GCI24G5WLL5KGYWRFWNLCCBQL5D4YX72NKJI2BLGSCUOPUEAVTW7EQM2
PRICE=1000
ASSET_TYPE = credit_alphanum4
ASSET_CODE = TFT
ASSET_ISSUER = GA47YZA3PKFUZMPLQ3B5F2E3CJIB57TGGU7SPCQT2WAEYKN766PWIMB3
# SAGGQCM4GAMOYWGR3KRJCQ667YNTJC6FZMO7NDHEXF72DW4PZ7OOMO33