aniso8601==9.0.1
asn1crypto==1.4.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
Click==8.0.1
cryptography==39.0.1
entrypoints==0.3
Flask==2.0.1
Flask-Cors==3.0.10
Flask-RESTful==0.3.9
Flask-SocketIO==4.3.2
gevent==21.1.2
greenlet==1.1.0
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
keyring==23.0.1
keyrings.alt==4.1.0
Markdown==3.3.4
MarkupSafe==2.0.1
nodeenv==1.6.0
pycparser==2.20
pycrypto==2.6.1
pyfcm==1.5.3
PyNaCl==1.4.0
python-engineio==3.14.2
python-socketio==4.6.1
pytz==2021.1
pyxdg==0.27
requests==2.25.1
requests-toolbelt==0.9.1
SecretStorage==3.3.1
six==1.15.0
SQLAlchemy==1.4.22
urllib3==1.26.4
uWSGI==2.0.19.1
Werkzeug==2.0.1
stellar-sdk==3.3.1
nanoid==2.0.0
