<section class="errorpage">
  <v-layout justify-center>
    <v-flex md8>
      <v-card>
        <v-toolbar class="primary">
          <h1 class="headline white--text text-xs-center fw">
            Oops... Something went wrong
          </h1>
        </v-toolbar>
        <v-form>
          <v-card-text>
            <p>We didn't get the required parameters to make this work</p>
            <p>You need to come from a third party app to use this.</p>
            <p>If you want to register, you can do this from the ThreeFold Connect app.</p>
          </v-card-text>
        </v-form>
      </v-card>
    </v-flex>
  </v-layout>
  <v-layout column class="pt-5" align-center>
    <v-layout row justify-center align-center>
      <a md12 class="mx-2" href="https://play.google.com/store/apps/details?id=org.jimber.threebotlogin"
        target="_blank">
        <img src="googleplay.png" height="50" />
      </a>
      <a class="mx-2" href="https://itunes.apple.com/be/app/3bot-login/id1459845885?l=nl&mt=8" target="_blank">
        <img src="applestore.png" height="50" />
      </a>
    </v-layout>
  </v-layout>
</section>
