import 'package:threebotlogin/helpers/environment.dart';

abstract class EnvConfig {
  Environment environment = Environment.Production;

  String githash = "githashvalue";
  String time = "timevalue";
}