<section class="verify-email">
  <v-layout justify-center>
    <v-flex md8>
      <v-card>
        <v-toolbar class="primary">
          <h1 class="headline white--text text-xs-center fw">
            Verifying email address
          </h1>
        </v-toolbar>
        <v-form>
          <v-card-text>
            <v-layout column align-center v-if="emailVerificationStatus.checking">
              <v-progress-circular :size="100" :width="15" color="accent" indeterminate></v-progress-circular>
              <p class="subheading pt-3">Please wait while we validate your email address</p>
            </v-layout>
            <v-layout column align-center v-if="emailVerificationStatus.checked && emailVerificationStatus.valid">
              <v-icon :size="100" color="accent">check_circle</v-icon>
              <p class="subheading pt-3">Email validated</p>
              <div v-if="isMobile">
                <v-btn class="accent" @click="openApp">
                  Open 3Bot app
                </v-btn>
              </div>
            </v-layout>
            <v-layout column align-center v-if="emailVerificationStatus.checked && !emailVerificationStatus.valid">
              <v-icon :size="100" color="error">close</v-icon>
              <p align-center class="subheading pt-3 text-xs-center">There was a problem validating your email, <br>
                please contact support if this problem persists.<br>
              
                <a href="https://support.grid.tf/">https://support.grid.tf/</a>
              </p>
            </v-layout>
          </v-card-text>
        </v-form>
      </v-card>
    </v-flex>
  </v-layout>
</section>