<section class="recover">
  <v-layout justify-center>
      <v-flex md8>
        <v-card>
          <v-toolbar class="primary">
            <h1 class="headline white--text text-xs-center fw">Help, I've lost access to my account</h1>
          </v-toolbar>
          <v-card-text>
              <p class="subheading pt-3">If you have forgotten your 3bot PIN code or don't have access to your phone, the account recovery tool can make sure that you (and only you) regain access to your account.</p>
            <p class="subheading pt-3">The only way to regain access to your account is through the mobile 3bot app. There you can recover your account with your doublename, email and phrase.</p>
            <p class="subheading pt-3">If your information is correct, you will be given the opportunity to set a new PIN code and you will regain access to your account again.</p>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</section>