.embeddedlogin {
    position: absolute;
    height: 100%;
    width: 100%;
}

.text {
    font-size: 1.2em;
}
.hmm {
    min-height: 155px;
    max-height: 155px;
}

body {
    .container {
        margin: 0;
        padding:0;
    }
}

.minheight {
    min-height: 100%
}